<div class="container">
  <div class="content">
    <img class="twitch-logo" src="assets/img/twitch.png" alt="twitch.tv" /> <br />
    <h2>Авторизуйтесь с помощью Twitch</h2>
    <p>
      Чтобы записаться в очередь на сервис, необходимо авторизоваться через Twitch. Это нобходимо, чтобы и стример и
      зрители могли видеть ники людей, которые стоят в очереди на сервис.
    </p>
    <br />
    <br />
    <button mat-flat-button color="primary" (click)="auth()">Авторизоваться</button>
  </div>
</div>
