/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
}

app-root {
  height: 100%;
  display: block;
  overflow: hidden;
  min-width: 320px;
  max-width: 1200px;
  flex: 1;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.container {
  padding: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
